header{
    background-image:url(images/fon.jpg);
    background-size: 30cm;
    padding: 15px 5%;
    display: flex;
}

h1{
    color:rgb(243, 43, 43);
    font-size: 30px;
}

.space{
    width:10%;
}

a{
    color:rgb(243, 43, 43);
}

.btn{
    text-decoration:none;
    font-size: 20px;
    color:rgb(243, 43, 43);
    background-color: rgb(74, 18, 18);
    padding: 3px 12px;
    border-radius: 5px;
    border: rgb(37, 9, 9) solid;
}

main{
    background-image:url(images/fone.jpg);
    padding: 900px;
}

body{
    margin: auto;
}



nav{
    display: flex;
    justify-content: space-around;
    width: 20%;
    align-items: center;
}